<!DOCTYPE html>
<html lang="en">
    <head>
        {% set _desc = block('description') %}

        {% if _desc is not empty %}
            {% set description = _desc %}
        {% else %}
            {% set description = "REPLACE ME!" %}
        {% endif %}

        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="{{ asset_url }}/img/facebook-share.png{{ version }}">
        <meta property="og:url" content="{{ base_url ~ current_path }}">
        <meta property="description" content="{{ description }}">
        <meta property="og:description" content="{{ description }}">
        <meta property="og:type" content="website">
        {% include 'common/meta.html' %}
        {% block meta %}{% endblock %}

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset_url }}/css/main.css{{ version }}">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {% include 'common/header.html' %}
        {% block body %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script>
            var baseUrl = '{{ base_url }}';
            var assetUrl = '{{ asset_url }}';
            var currentPath = '{{ current_path }}';
            var version = '{{ version }}';
        </script>
        <script src="{{ asset_url }}/js/main.js{{ version }}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
