{% extends 'index.html' %}

{% block body %}
<main id="championship">
    <div class="fluid-container">
        <div class="col-xs-12 text-center" id="top">
            <h1>Championship #{{ data.championship.id }}</h1>
            <h3>{{ data.championship.date|date('d/m/Y H:i') }}</h3>
        {% if data.championship.finished == 1 %}
            <button class="btn btn-success">Finished</button>
        {% else %}
            <button class="btn btn-info">In Progress</button>
        {% endif %}
        </div>
        <div class="row nomargin" id="stages">
        {% for i in 1..5 %}
            {% set stage = data.stages[i] %}
            {% if stage %}
            <div class="col-sm-12 col-md-6 col-lg-3 stage" data-id="{{ stage.id }}">
                <img class="img-fluid" src="{{ asset_url }}/img/tracks/{{ stage.track }}.jpg">
                <h3 class="header text-center">Stage #{{ i }} - {{ stage.name }}</h3>
                {% if stage.positions %}
                <div class="positions row nomargin">
                    <table class="table table-striped table-sm">
                        <tr>
                            <th>
                                Player
                            </th>
                            <th>
                                Pos
                            </th>
                            <th>
                                Character
                            </th>
                            <th>
                                Vehicle
                            </th>
                        </tr>
                        {% for player in stage.positions %}
                            {% set playerData = data.players[player.player] %}
                        <tr data-id="{{ player.player }}" class="text-center">
                            <td>
                                {{ playerData.playerName }}
                            </td>
                            <td>
                                {{ player.position }}
                            </td>
                            <td>
                                {{ characters[playerData.character].name }}
                            </td>
                            <td>
                                {{ vehicles[playerData.vehicle].name }}
                            </td>
                        </div>
                        {% endfor %}
                    </table>
                </div>
                {% else %}
            </div>
                {% endif %}
            {% endif  %}
        </div>
        {% endfor %}
        {% if data.championship.finished == 0 %}
        <div class="col-xs-12 text-center">
            <button class="btn btn-success btn-lg">
                <i class="fa fa-plus"></i> Add new stage
            </button>
            <div id="new-stage-placeholder">
                {% include 'championships/partials/new-stage.html' %}
            </div>
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}

{% block scripts %}
<script>
    var vehicleStats = JSON.parse('{{ vehiclesJson|raw }}');
    var statBars = JSON.parse('{{ statBarsJson|raw }}');
	var stageCount = '{{ data.stages|length }}';
</script>
<script src="{{ asset_url }}/js/stages.js{{ version }}"></script>
{% endblock %}
