{% extends 'index.html' %}

{% block body %}
<main id="championship" data-id="{{ data.championship.id }}">
    <div class="fluid-container">
        <div class="row nomargin">
            <div class="col-12 text-center" id="top">
                <h1>Championship #{{ data.championship.id }}</h1>
                <h3>{{ data.championship.date|date('d/m/Y H:i') }}</h3>
        {% if data.championship.finished == 1 %}
                <button class="btn btn-success">Finished</button>
        {% else %}
                <button class="btn btn-info">In Progress</button>
        {% endif %}
            </div>
        </div>
        <div class="row justify-content-center" id="stages">
        {% for stage in data.stages %}
                {% include 'championships/partials/stage.html' %}
        {% endfor %}
            <div class="col-sm-12 col-md-6 col-lg-3 stage" id="new-stage">
                {% include 'championships/partials/new-stage.html' %}
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
<script>
    var vehicleStats = JSON.parse('{{ vehiclesJson|raw }}');
    var statBars = JSON.parse('{{ statBarsJson|raw }}');
    var stageCount = '{{ data.stages|length }}';
</script>
<script src="{{ asset_url }}/js/stages.js{{ version }}"></script>
{% endblock %}
