{% extends 'index.html' %}

{% block title %}New Championship{% endblock %}

{% block body %}
<main id="new-championship">
    <div class="fluid-container">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h1 class="display-4 text-center">New Championship</h1>
                    <hr>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <h1 class="text-center">Players &amp; vehicles</h1>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                    <span>
                        Platform:
                    </span>
                    <select name="platform" id="platform" class="form-control">
    {% for platform in platforms %}
                        <option value="{{ platform.id }}">{{ platform.name }}</option>
    {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row justify-content-center">
    {% for i in 1..4 %}
                <div class="col-lg-3 col-md-6 col-sm-6 player-card text-center" data-id="{{ i }}">
                    <div class="row">
                        <div class="col-sm-8 offset-sm-2 player-select">
                            <select name="player-{{ i }}" class="form-control">
                                <option value="0">Player</option>
                            {% for k, entry in players %}
                                <option value="{{ k }}">{{ entry.name }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row nomargin images">
                        <div class="col-6">
                            <img class="character placeholder img-fluid img-thumbnail" src="{{ asset_url }}/img/GoldenMushie-Faded.png">
                            <select name="character-{{ i }}" class="form-control" disabled>
                                <option value="0">Character</option>
                            {% for k, entry in characters %}
                                <option value="{{ k }}" data-size="{{ entry.size }}">{{ entry.name }}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <div class="col-6">
                            <img class="vehicle placeholder img-fluid img-thumbnail" src="{{ asset_url }}/img/GoldenMushie-Faded.png">
                            <select name="vehicle-{{ i }}" class="form-control" disabled>
                                <option value="0">Vehicle</option>
                            {% for k, entry in vehicles %}
                                <option value="{{ k }}" data-size="{{ entry.size }}">{{ entry.name }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row nomargin stat-bars text-left">
                        <div class="col-12">
                            {% for bar, limits in statbars %}
                            <div class="row align-items-center">
                                <div class="col-sm-4 col-lg-5">
                                    {{ bar|title }}
                                </div>
                                <div class="col">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="80" style="width: 0%;" data-prop="{{ bar }}" data-min="{{ limits.min }}" data-max="{{ limits.max }}"></div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-12 text-center">
            <div class="alert alert-danger" id="form-errors"></div>
            <button class="btn btn-lg btn-success" id="submit">Next <i class="fa fa-arrow-right"></i></button>
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
<script>
    var vehicleStats = JSON.parse('{{ vehiclesJson|raw }}');
    var statbars = JSON.parse('{{ statbarsJson|raw }}');
</script>
<script src="{{ asset_url }}/js/championships.js{{ version }}"></script>
{% endblock %}
