<nav class="navbar navbar-toggleable-md navbar-light bg-faded" id="header">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ base_url }}">
        <img src="{{ asset_url }}/img/logo.png" class="img-fluid">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--<li class="nav-item">
                <a class="nav-link" href="{{ base_url }}/rankings">Rankings</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ base_url }}/statistics">Statistics</a>
            </li>-->
        </ul>
        <a href="{{ base_url }}/championships/new" class="btn btn-success my-2 my-sm-0">
            <i class="fa fa-plus-circle"></i> New Championship
        </a>
    </div>
</nav>
